<footer>
    <div class="container">
        <ul class="footer-links">
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/games/">Games</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/privacy/">Privacy Policy</a></li>
        </ul>
        
        <div class="social-links">
            <a href="https://twitter.com/{{ site.social.twitter }}" aria-label="Twitter"><span>Twitter</span></a>
            <a href="https://facebook.com/{{ site.social.facebook }}" aria-label="Facebook"><span>Facebook</span></a>
            <a href="https://instagram.com/{{ site.social.instagram }}" aria-label="Instagram"><span>Instagram</span></a>
        </div>
        
        <div class="copyright">
            <p>&copy; {{ site.time | date: '%Y' }} Monkey Mart. All rights reserved.</p>
        </div>
    </div>
</footer> 