<header class="site-header">
    <div class="container">
        <div class="logo">
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Monkey Mart">
            </a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ site.baseurl }}/" class="active">Blog</a></li>
                <li><a href="/games/">Games</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
        <div class="mobile-menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header> 